html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.cartWrapper {
  min-height: 75vh;
  min-height: 1000px;
  background: url("/public/productBG.jpg");
  background-size: 150%;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 91%);
}

.shopping-cart {
  width: 1200px;
  min-height: 50vh;
  min-height: 450px;
  margin: 80px auto;
  background: #ebebeb;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.title {
  height: 30px;
  border-bottom: 1px solid rgb(214, 214, 214);
  padding: 30px 30px;
  color: #020202;
  font-size: 25px;
  font-weight: 500;
}

.item {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 100px;
  height: 120px;
  display: flex;
  justify-content: space-between;
}

.image {
  margin-right: 50px;
}
.CPImage {
  width: 200px;
}

.description {
  padding-top: 30px;
  margin-right: 60px;
  width: 115px;
}

.description span {
  display: block;
  font-size: 20px;
  color: #43484d;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939e;
}

.quantity {
  padding-top: 50px;
  margin-right: 60px;
  display: flex;
  justify-content: space-between;
  height: 30px;
}
.quantity input {
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #000000;
  font-weight: 300;
}

.plus-minus {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 7px;
  cursor: pointer;
}

.total-price {
  width: 83px;
  padding-top: 47px;
  text-align: center;
  font-size: 25px;
  color: #a0a0a0;
  font-weight: 400;
}

.cart-totals {
  height: 250px;
  background: #ebebeb;
  border: 2px;
  border-radius:8px;
  margin-right: 20%;
  margin-left: 53%;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
}

.cartTotal {
  display: contents;
}

.cart-totals__labels,
.cart-totals__values {
  color: #848383;
  font-size: 25px;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
}

.cart-totals__labels {
  grid-column: 1;
  text-align: right;
}

.cart-totals__values {
  grid-column: 2;
  text-align: left;
  font-weight: 700;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  .cart-totals {
    grid-template-columns: 1fr; /* Set one column for smaller screens */
  }

  .cart-totals__labels,
  .cart-totals__values {
    grid-column: auto;
    text-align: center;
    display: block; /* Reset to block for better stacking on smaller screens */
  }
}

@keyframes animate {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: right;
  }
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
  @media (max-width: 1633px){
    .cartTotals {
      background:none;
    }
  }
}
